/**
 * RESET
 */
html,body,div,span,p,ul,ol,dl,li,dt,dd,form,fieldset,label,table,tr,td,a,img {
	padding: 0px;
	margin: 0px;
	border: none;
	font-size: 1em;
}


/* ---- /TYPOGRAPHY ----*/
body, div, span, p, td
{
font: normal 1em Arial, san-serif;
color: #333;
}
a, a:visited {
color: #C00;
text-decoration: none;
}
a:hover, a:visited:hover {
background: #C00;
color: #FFF;
}

h1, h2, h3 {
padding: 0px;
margin: 0.2em 0px 0.8em 0px;
letter-spacing: -0.1em;
font-weight: bold;
}
h1 {
font-size: 1.688em;
}
h2 {
font-size: 1.5em;
}
h3 {
font-size: 1.25em;
}

#footer {
font-size: small;
font-weight: normal;
}

img {
	border: 0px;
}
/* ---- /LAYOUT ----*/
body { 
background: #EEE;
margin: 0px;
padding: 0px;
}

#master {
	width: 740px;
	margin: 1em auto;
}

#header
{
margin: 1em auto;
background: #FFF;
padding: 0.75em;
border-radius: 0.75em;
-moz-border-radius: 0.75em;
-webkit-border-radius: 0.75em;
}

#body {
margin: 1em auto;
padding: 2em;
background: #FFF;
}

#footer
{
margin: 1em auto;
padding: 0px;
}

#content {
width: 450px;
float: left;
}
#signin_form {
width: 200px;
float: right;
background: #EEE;
padding: 5px;
}

#feedback {
width: 50%;
margin: 1em auto;
color: #090;
}

div.clear {
clear: both;
margin: 0px;
padding: 0px;
height: 0px;
}

ul.navigation li {
list-style-type: none;
float: left;
margin: 0 15px 0 0;
}

/* ---- /NAVIGATION ----*/
#globalnav {
height: 15px;
padding: 5px;
}
#globalnav li {
margin-right: 30px;
font-size: small;
text-transform: uppercase;
}
#nav_home { background: url(../../images/header/home_off.gif) no-repeat; }
#nav_home a:hover { background-image: url(../../images/header/home_on.gif); }
#nav_news { background: url(../../images/header/news_off.gif) no-repeat; }
#nav_news a { background: url(../../images/header/news_off.gif) no-repeat; }
#nav_news a:hover  { background-image: url(../../images/header/news_on.gif); }



/* ---- /USER FORMS ----*/
fieldset {
margin: 0px 0px 20px 0px;
}
fieldset div {
margin: 0px 0px 20px 0px;
}
fieldset label {
text-align: right;
width: 200px;
display: block;
float: left;
margin: 2px 5px 2px -5px;
}
input.text {
font: bold 16px arial;
color: #06C;
}
span.status span.error {
width: 1em;
overflow: visible;
float: none;
font-weight: bold;
background: none;
margin: 0px;
color: #F60;
display: inline;
}
span.status span.checked {
background: #0F0;
margin: 0px;
padding: 0px;
}
