/* ---- /TYPOGRAPHY ----*/
body, div, span, p, td
{
font: 14px Arial, san-serif;
color: #333;
}
a, a:visited {
color: #C00;
text-decoration: none;
}
a:hover, a:visited:hover {
background: #C00;
color: #FFF;
}

h1, h2, h3 {
padding: 0px;
margin: 0px 0px 10px 0px;
letter-spacing: -0.1em;
font: bold 16px helvetica, arial, san-serif;
}
h1 {
font-size: 24px;
}
h2 {
font-size: 20px;
}
h3 {}

#footer {
font-size: x-small;
font-weight: normal;
}

img {
	border: 0px;
}
/* ---- /LAYOUT ----*/
body { 
background: #EEE;
margin: 0px;
padding: 0px;
}

#header
{
width: 740px;
padding: 0px;
margin: 10px auto;
border-top: 5px solid #CCC;
background: #FFF;
}

#body {
width: 700px;
margin: 10px auto;
padding: 20px;
border-top: 5px solid #CCC;
background: #FFF;
}

#footer
{
width: 740px;
margin: 10px auto;
padding: 0px;
border-top: 5px solid #CCC;
}

#content {
width: 450px;
float: left;
}
#signin_form {
	width: 240px;
	float: right;
	background: #EEE;
	padding: 5px;
}

#feedback {
width: 50%;
margin: 10px auto;
color: #090;
}
/* ---- /NAVIGATION ----*/
#globalnav {
list-style-type: none;
height: 15px;
margin: 0px;
padding: 5px;
}
#globalnav li {
margin:0px; 
padding: 0 10px 0 0; 
display:block;
float: left;
height: 15px;
width: 72px;
font-weight: bold;
font-size: 10px;
letter-spacing: 1px;
}
#nav_home { background: url(../../images/header/home_off.gif) no-repeat; }
#nav_home a:hover { background-image: url(../../images/header/home_on.gif); }
#nav_news { background: url(../../images/header/news_off.gif) no-repeat; }
#nav_news a { background: url(../../images/header/news_off.gif) no-repeat; }
#nav_news a:hover  { background-image: url(../../images/header/news_on.gif); }




div.clear {
clear: both;
margin: 0px;
padding: 0px;
height: 0px;
}


/* ---- /USER FORMS ----*/
fieldset {
margin: 0px 0px 20px 0px;
}
fieldset div {
margin: 0px 0px 20px 0px;
}
fieldset label {
text-align: right;
width: 200px;
display: block;
float: left;
margin: 2px 5px 2px -5px;
}
input.text {
font: bold 16px arial;
color: #06C;
}
span.status span.error {
width: 10px;
overflow: visible;
float: none;
font-weight: bold;
background: none;
margin: 0px;
color: #F60;
display: inline;
}
span.status span.checked {
background: #0F0;
margin: 0px;
padding: 0px;
}
